  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">
                <h2>{{auction.title | uppercase}} Details</h2>
                <p>ends within:</p>
                <br>
                <br>
                <p>{{auction.description}}</p>
            </div>
            <div class="col-sm-6" style="background-color:deepskyblue;">

                    <div>
                        <div class="cities1">
                            <p>current track: {{auction.bidders.length}}</p>
                        </div>
                        <div class="cities2">
                            <p>${{auction.currentPrice}}</p>
                        </div>
                    </div>

                    <div>
                        <div class="cities1">
                            <p>next track: {{auction.bidders.length + 1}}</p>
                        </div>
                        <div class="cities2">
                            <p>${{auction.currentPrice + (auction.currentPrice * 15 / 100)}}</p>
                        </div>
                        <div class="cities3">
                            <button type="button" class="btn btn-primary btn-sm" (click)="offert()">Make a offert</button>
                        </div>
                    </div>

                    <div>
                        <h3>Amount of Bidders:</h3>
                        <p>{{ auction.bidders.length }} bidders in this auction</p>
                    </div>

                    <div>
                        <h3>Auction Progress:</h3>
                        <br>
                        <br>
                    </div>
            </div>
        </div>
        <!--
        <div id="map" class="map" (click)="show_info"></div> -->

        <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">go back</button>
    </div>
