  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">
                <h2>{{auction.title | uppercase}} Details</h2>
                <p>ends within:</p>
                <br>
                <br>
                <p>{{auction.description}}</p>
            </div>
            <div class="col-sm-6" style="background-color:deepskyblue;">

                    <div>
                        <div class="cities1">
                            <p>current track: {{ auction.offerts.length }}</p>
                        </div>
                        <div class="cities2">
                            <p>${{auction.currentPrice}}</p>
                        </div>
                    </div>

                    <div>
                        <div class="cities1">
                            <p>next track: {{auction.offerts.length + 1}}</p>
                        </div>
                        <div class="cities2">
                            <p>${{auction.currentPrice + (auction.currentPrice * 15 / 100)}}</p>
                        </div>
                        <div class="cities3">
                            <button type="button" class="btn btn-primary btn-sm" (click)="offert()">Make a offert</button>
                        </div>
                    </div>

                    <div>
                      <h3>Amount of Bidders:</h3>
                      <p>bidders in this auction #{{ auction.biddersSize }}</p>
                    </div>

                    <div>
                            <ul class="offerts">
                                <h3>Offerts:</h3>
                                <li *ngFor="let offert of auction.offerts">
                                        <span>User: {{offert.userId}}    </span>
                                        <span>Tramo: {{offert.tramo}}    </span>
                                        <span>Hour: {{offert.hour}}      </span>
                                        <span>Date: {{offert.date}}      </span>
                                </li>
                            </ul>
                    </div>
            </div>
        </div>
        <!--
        <div id="map" class="map" (click)="show_info"></div> -->

        <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">go back</button>
    </div>
