<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>


<div class="container-fluid">
    <h1 translate>HI{{user.name}}!</h1>
    <p translate>AUCTDETAIL</p>

    <br>
    <br>


    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <ul class="myAuctions">
                <h3 translate>MYAUCTIONS</h3>
                <li *ngFor="let auction of myAuctions">
                    <a routerLink="/detail/{{auction.id}}">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="{{auction.urlPics[0]}}" alt="">
                        <h3>{{auction.title}}
                            <small><span class="badge">{{auction.id}}</span></small>
                        </h3>
                        <p>{{auction.description}}</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-6" style="background-color:lavenderblush;">
            <ul class="myAuctions">
                <h3 translate>MYACTIV</h3>
                <li *ngFor="let auction of auctionsInWichIBid">
                    <a routerLink="/detail/{{auction.id}}">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="{{auction.urlPics[0]}}" alt="">
                        <h3>{{auction.title}}
                            <small><span class="badge">{{auction.id}}</span></small>
                        </h3>
                        <p>{{auction.description}}</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <br>
    <br>

    
    <h3 translate>NEWAUCT</h3>
    <p translate>NEWAUCTDESCRIP</p>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="addAuction()">




        <div class="form-group">
            <label for="title" translate>TIT</label>
            <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" translate>DESCR</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="address" translate>DIR</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="initialPrice" translate>PRICE</label>
            <input type="number" formControlName="initialPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.initialPrice.errors }" />
            <div *ngIf="submitted && f.initialPrice.errors" class="invalid-feedback">
                <div *ngIf="f.initialPrice.errors.required">Price is required</div>
                <!--<div *ngIf="f.initialPrice.errors.minlength">Password must be at least 6 characters</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="endingTime" translate>ENDTIME</label>
            <input type="number" formControlName="endingTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endingTime.errors }" />
            <div *ngIf="submitted && f.endingTime.errors" class="invalid-feedback">
                <div *ngIf="f.endingTime.errors.required">Ending Time</div>
            </div>
        </div>
        <div class="form-group">
            <label for="openingDate" translate>OPENDATE</label>
            <input type="date" formControlName="openingDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.openingDate.errors }" />
            <div *ngIf="submitted && f.openingDate.errors" class="invalid-feedback">
                <div *ngIf="f.openingDate.errors.required">Opening Date</div>
            </div>
        </div>
        <div class="form-group">
            <label for="endingDate" translate>ENDDATE</label>
            <input type="date" formControlName="endingDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endingDate.errors }" />
            <div *ngIf="submitted && f.endingDate.errors" class="invalid-feedback">
                <div *ngIf="f.endingDate.errors.required">Ending Date</div>
            </div>
        </div>
        <div class="form-group">
            <br>
            <!--<button [disabled]="loading" class="btn btn-primary">Save</button> -->
            <button class="btn btn-primary" translate>SAVE</button>
        </div>
    </form>

</div>







