* {margin: 0; padding: 0;}

div {
  margin: 0px;
}

ul {
  list-style-type: none;
  width: 500px;
}

li p {
  font: 200 14px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

p {
  font: 200 16px/1.5 Georgia, Times New Roman, serif;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

li img { 
  margin: 0 15px 0 0;
    width: 130px;
    height:130px;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

h1 {
  font: bold 25px/1.5 Helvetica, Verdana, sans-serif;
}

/* styled a button */

.container button { 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:  250px;
    border-radius: 4px;
}

/* styled a button  */

.myAuctions {
    text-align:center;
    align-items: center;
}


.container-fluid {
    margin-top: 20px;
    margin-bottom: 40px; 
}