/* Search bar's private CSS styles */
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* Search bar's private CSS styles */


/* list's private CSS styles */

* {margin: 0; padding: 0;}


div {
  margin: 0px;
}

 
ul {
  list-style-type: none;
  width: 400px;
}


li img {
  float: left;
  margin: 0 15px 0 0;
    width: 128px;
    height:128px;
}

p {
  font: 200 16px/1.5 Georgia, Times New Roman, serif;
}

li p {
  font: 200 15px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}


li:hover {
  background: #eee;
  cursor: pointer;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

h1 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;   
}

.container-fluid {
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}



/* AuctionSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
 
.search-result li:hover {
  background-color: #607D8B;
}
 
.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}
 
.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 1000px;
  height: 30px;
}
 
 
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}




