<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>


<div class="container-fluid">
    <h1>Welcome to Subasteando!</h1>
    <p>Pick up a auction an start participate!.</p>
    <p>You can select distinct kinds of auctions, since populars,</p> 
    <p>to recents, besides you can search a auction by title or description. Feel free to navigate around the page.</p>
    
    <br>
    <br>
    
<div class="input-group md-form form-sm form-1 pl-0">
  <div class="input-group-prepend">
    <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fa fa-search text-white"
        aria-hidden="true"></i></span>
  </div>
  <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
</div>
   
    <br>
    <br>
    
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
        <ul class="auctions1">
            <h3>most populars</h3>
            <li *ngFor="let auction of popularAuctions">
                <a routerLink="/detail/{{auction.id}}">
                    <img src={{auction.urlPics[0]}}>
                    <h3>{{auction.title}}
                        <small><span class="badge">{{auction.id}}</span></small>
                    </h3>
                    <p>{{auction.description}}</p>
                </a>
            </li>
        </ul>
    </div>
        
    <div class="col-sm-4" style="background-color:lavenderblush;">
        <ul class="auctions2">
            <h3>most recents</h3>
            <li *ngFor="let auction of recentsAuctions">
                <a routerLink="/detail/{{auction.id}}">
                    <img src={{auction.urlPics[0]}}> 
                    <h3>{{auction.title}}
                        <small><span class="badge">{{auction.id}}</span></small>
                    </h3>
                    <p>{{auction.description}}</p>
                </a>
            </li>
        </ul>
    </div>
        
    <div class="col-sm-4" style="background-color:aquamarine;">
        <ul class="auctions3">
            <h3>next to finish</h3>
            <li *ngFor="let auction of nextToFinishAuctions">
                <a routerLink="/detail/{{auction.id}}">
                    <img src={{auction.urlPics[0]}}>
                     <h3>{{auction.title}}
                        <small><span class="badge">{{auction.id}}</span></small>
                    </h3>
                    <!--<span class="badge">{{auction.id}}</span>{{auction.title}} -->
                    <p>{{auction.description}}</p>
                </a>
            </li>
        </ul>
    </div>
        
</div>


<!--    
<div>
  <label>Auction title:
    <input #auctionTitle />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
    
    <!--
  <button (click)="add(auctionTitle.value); auctionTitle.value=''">add</button>
</div>

<h2>My Auctions</h2>
<ul class="auctions">
  <li *ngFor="let auction of auctions">
    <a routerLink="/detail/{{auction.id}}"> 
        <span class="badge">{{auction.id}}</span> {{auction.title}} 
    </a>
      <button class="delete" title="delete auction"
        (click)="delete(auction)">x</button>
  </li>
    
</ul>
-->
    
</div>


<!-- <app-auction-search></app-auction-search> -->




    
    


